* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.recuadro {
    padding: 25px;
}


/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(189, 189, 189);
    height: 200px;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}


/*index*/

body {
    background-color: rgb(153, 255, 205)
}

ul {
    list-style-type: none;
}

.botonwsp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 30px;
    border-radius: 50px;
}

.imagenUbi {
    width: 300px;
    height: 300px;
    margin-left: 1000px;
    border: solid;
    border-radius: 25px;
    color: #fff;
}

.ubicacion {
    margin-left: 1050px;
    font-size: 20px;
    margin-top: 10px;
}


/* footer */

.footer {
    background-color: rgb(255, 245, 109);
    color: black;
    font-family: 'lato', sans-serif;
    height: 20px;
    font-size: 15px;
}


/* page:sobre nosotros */


/* main */

.h2sobreNos {
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 30px;
    margin-top: 35px;
    color: rgb(30, 56, 56);
}

a {
    text-decoration: none;
}

fieldset {
    border-radius: 25px;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border-color: rgb(255, 151, 113);
    border: solid;
    margin: 10px;
    width: 100%;
}

.listaSucu {
    list-style-type: square;
}

.tituloSection {
    text-align: center;
    font-style: oblique;
    font-family: 'lato', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px coral;
    margin-top: 50px;
    padding: 15px;
    color: rgb(30, 56, 56);
    transition: font-size 2s;
}

.tituloSection:hover {
    font-size: 50px;
}

.imagenesCard {
    display: inline-block;
    width: 15%;
    margin-right: 100px;
    margin-bottom: 20px;
}

.parrafoCard {
    font-family: 'lato', sans-serif;
    display: inline-block;
    width: 55%;
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: capitalize;
}


/* page :contacto */

.fieldsetcontacto {
    background-color: rgb(255, 245, 109);
    margin: 5px;
    padding: 5px;
}

.tituloForm {
    font-family: 'lato', sans-serif;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
}

.botonForm {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%)
}

.botonForm {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.botonForm:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


/* page: preguntas frecuentes */

.h2preguntasFrec {
    font-family: 'lato', sans-serif;
    font-size: 30px;
    padding: 20px;
    animation-duration: 2s;
    animation-name: show;
    animation-iteration-count: infinite;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

ul p {
    font-size: 29px;
}

ol li {
    display: block;
}


/* page:sucursales */

.cuadroSucursales {
    border-radius: 25px;
    border: solid;
    background-color: rgb(255, 245, 109);
    padding: 35px;
    width: 100%;
    height: 100%;
}

.h2Sucursales {
    font-family: 'lato', sans-serif;
    text-align: center;
}

.imgSuc {
    height: 700px;
    border-radius: 25px;
    margin: 15px;
}

.tituloSuc {
    padding: 40px;
}


/*mediaq sucursales*/

@media screen and (max-width:320px) {
    .footer {
        height: auto;
    }
    .imgSuc {
        width: auto;
        height: auto;
    }
    header img {
        margin-top: 70px;
    }
    .header {
        background-color: rgb(153, 255, 205);
    }
    .tituloSuc {
        margin-top: 50px;
    }
}