* {
    margin: 0px;
    padding: 0px;
}

.body {
    background-color: rgb(153, 255, 205);
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.footer {
    background-color: rgb(255, 245, 109);
    color: black;
    font-family: 'lato', sans-serif;
    height: 20px;
    font-size: 15px;
}

/
/*HEADER*/

.nombre {
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 50px;
    font-weight: bold;
    margin-left: 200px;
}


/*FIN HEADER*/


/*MAIN*/

.subtitulo {
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-left: 400px;
}

.titular {
    font-family: 'lato', sans-serif;
    border-radius: 15px;
    color: black;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 50%, #ffffff 100%);
    line-height: 1.4;
    text-align: justify;
    padding: 30px;
    font-size: 20px;
    margin-top: 80px;
}

.recuadro {
    padding: 25px;
}


/*GRID REQUISITOS*/

.tituloreq {
    font-family: 'lato', sans-serif;
    font-size: 30px;
}

.listareq {
    font-family: 'lato', sans-serif;
    font-size: 20px;
    list-style-type: square;
    line-height: 1.7;
    margin-left: 30px;
}

.imagenReq {
    width: 900px;
    border-radius: 25px;
}


/*TABLA*/

.tituloTabla {
    font-family: 'lato', sans-serif;
    font-size: 30px;
    color: black;
    margin-left: 30px;
    margin-top: 60px;
}

table tr th {
    font-size: 45px;
    text-align: center;
}

table tr td {
    font-size: 40px;
    text-align: center;
}


/*UBICACION*/

.tituloUbi {
    font-family: 'lato', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 300px;
}

.imagenUbi {
    width: 300px;
    height: 300px;
    border: 2px dashed black;
}

.imgFlecha {
    width: 150px;
    height: 150px;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.botonwsp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 30px;
    border-radius: 50px;
}


/*FIN UBICACION*/


/* PAGE:SUCURSALES */

.h2Sucursales {
    text-align: center;
    font-size: 40px;
    font-family: 'lato', sans-serif;
    padding-bottom: 30px;
}

.cuadroSucursales {
    border-radius: 25px;
    border: solid;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    width: 100%;
    height: 1400px;
}

.h2sanjuan {
    font-family: 'lato', sans-serif;
    margin-left: 800px;
    font-size: 20px;
    padding-bottom: 20px;
}

.h2mza {
    margin-left: 100px;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'lato', sans-serif;
}

.imgSucu1 {
    display: flex;
    flex-direction: row-reverse;
    width: 600px;
    height: 300px;
    border-radius: 25px;
    margin-left: 100px;
}

.imgSucu {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 300px;
    margin-left: 600px;
    border-radius: 25px;
    padding: 20px;
}


/*mediaq index*/

@media screen and (max-width:320px) {
    .tituloUbi {
        margin-left: 10px;
    }
    .imgFlecha {
        display: none;
    }
    table tr th {
        font-size: 15px;
        text-align: center;
    }
    table tr td {
        font-size: 10px;
        text-align: center;
    }
    .footer {
        height: auto;
    }
}