/*map*/
$styles:(
  fuente:$fuente-ppal,
  tamFuente:55px,
  color:black,
  );



header{
  background-color:rgb(153, 255, 205);
      img{
        width: 200px;
        height: 200px;
        border-radius:25px;
      }
      h1{
        font-size:map-get($styles,tamFuente);
        color:map-get($styles,color);
        font-family: map-get($styles,fuente);
        font-weight: bold;
        margin-left: 30px;
      }
    }