header{
  background-color:rgb(153, 255, 205);
      img{
        width: 200px;
        height: 200px;
        border-radius:25px;
      }
      h1{
        font-family: 'lato', sans-serif;
        color: black;
        font-size: 50px;
        font-weight: bold;
        margin-left: 200px;
      }
    }